Select only the rows where the student’s favorite color is green or red and their grade is above 90

In [3]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('expand_frame_repr', False)

students_df = pd.DataFrame(
    data={
        'name': ['Tim Voss', 'Nicole Johnson', 'Elsa Williams', 'John James', 'Catherine Jones'],
        'age': [19, 20, 21, 20, 23],
        'favorite_color': ['red', 'yellow', 'green', 'blue', 'green'],
        'grade': [91, 95, 82, 75, 93]
    }
)


def grades_colors(students_df: pd.DataFrame):
    df = students_df.loc[
        (students_df['favorite_color'].isin(['green', 'red']))
        & (students_df['grade'] > 90)
    ]
    return df


grades_colors(students_df)

  name  age favorite_color  grade
0    a   19            red     91
4    e   23          green     93

## Over 100 dollars

You’re given two dataframes: transactions and products.

The transactions dataframe contains transaction ids, product ids, and the total amount of each product sold.

The products dataframe contains product ids and prices.

Write a function to return a dataframe containing every transaction with a total value of over \$100$100. Include the total value of the transaction as a new column in the dataframe.

In [4]:
import pandas as pd


def transactions_over_100(df_transactions: pd.DataFrame, df_products: pd.DataFrame):
    df_tmp = df_transactions.merge(
        df_products, 
        how='left', 
        on='product_id'
    )
    df_tmp['total_value'] = df_tmp['price'] * df_tmp['amount']
    df_tmp = df_tmp.loc[df_tmp['total_value'] > 100]
    df_tmp = df_tmp[['transaction_id', 'product_id', 'amount', 'total_value']]
    return df_tmp


transactions = {"transaction_id" : [1, 2, 3, 4, 5], "product_id" : [101, 102, 103, 104, 105], "amount" : [3, 5, 8, 3, 2]}
products = {"product_id" : [101, 102, 103, 104, 105], "price" : [20.00, 21.00, 15.00, 16.00, 52.00]}

df_transactions = pd.DataFrame(transactions)
df_products = pd.DataFrame(products)
df_ans = transactions_over_100(df_transactions, df_products)

df_ans

   transaction_id  product_id  amount  total_value
1               2         102       5        105.0
2               3         103       8        120.0
4               5         105       2        104.0