Select only the rows where the student’s favorite color is green or red and their grade is above 90

In [3]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('expand_frame_repr', False)

students_df = pd.DataFrame(
    data={
        'name': ['Tim Voss', 'Nicole Johnson', 'Elsa Williams', 'John James', 'Catherine Jones'],
        'age': [19, 20, 21, 20, 23],
        'favorite_color': ['red', 'yellow', 'green', 'blue', 'green'],
        'grade': [91, 95, 82, 75, 93]
    }
)


def grades_colors(students_df: pd.DataFrame):
    df = students_df.loc[
        (students_df['favorite_color'].isin(['green', 'red']))
        & (students_df['grade'] > 90)
    ]
    return df


grades_colors(students_df)

  name  age favorite_color  grade
0    a   19            red     91
4    e   23          green     93

## Over 100 dollars

You’re given two dataframes: transactions and products.

The transactions dataframe contains transaction ids, product ids, and the total amount of each product sold.

The products dataframe contains product ids and prices.

Write a function to return a dataframe containing every transaction with a total value of over \$100$100. Include the total value of the transaction as a new column in the dataframe.

In [4]:
import pandas as pd


def transactions_over_100(df_transactions: pd.DataFrame, df_products: pd.DataFrame):
    df_tmp = df_transactions.merge(
        df_products, 
        how='left', 
        on='product_id'
    )
    df_tmp['total_value'] = df_tmp['price'] * df_tmp['amount']
    df_tmp = df_tmp.loc[df_tmp['total_value'] > 100]
    df_tmp = df_tmp[['transaction_id', 'product_id', 'amount', 'total_value']]
    return df_tmp


transactions = {"transaction_id" : [1, 2, 3, 4, 5], "product_id" : [101, 102, 103, 104, 105], "amount" : [3, 5, 8, 3, 2]}
products = {"product_id" : [101, 102, 103, 104, 105], "price" : [20.00, 21.00, 15.00, 16.00, 52.00]}

df_transactions = pd.DataFrame(transactions)
df_products = pd.DataFrame(products)
df_ans = transactions_over_100(df_transactions, df_products)

df_ans

   transaction_id  product_id  amount  total_value
1               2         102       5        105.0
2               3         103       8        120.0
4               5         105       2        104.0

## Rain on rainy days

You’re given a dataframe df_rain containing rainfall data. The dataframe has two columns: day of the week and rainfall in inches.

Write a function median_rainfall to find the median amount of rainfall for the days on which it rained.

Note: You may assume it rained on at least one of the days.

In [5]:
import pandas as pd


def median_rainfall(df_rain):
    df_tmp = df_rain.loc[df_rain['Inches'] > 0]
    return df_tmp['Inches'].median()


rainfall = {"Day" : ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"], "Inches" : [0, 1.2, 0, 0.8, 1]}
df_rain = pd.DataFrame(rainfall)
median_rainfall(df_rain)

1.0

## Impute median

You’re given a dataframe df_cheeses containing a list of the price of various cheeses from California. The dataframe has missing values in the price column.

Write a function cheese_median to impute the median price of the selected California cheeses in place of the missing values. You may assume at least one cheese is not missing its price.

In [2]:
import pandas as pd


def cheese_median(df):
    
    # m = df['Price'].median()
    # df.loc[df['Price'].isna(), 'Price'] = m
    
    df['Price'] = df['Price'].fillna(df['Price'].median())
    
    return df



cheeses = {
    "Name": [
        "Bohemian Goat", 
        "Central Coast Bleu", 
        "Cowgirl Mozzarella", 
        "Cypress Grove Cheddar", 
        "Oakdale Colby"
    ], 
    "Price" : [15.00, None, 30.00, None, 45.00]
}
df_cheese = pd.DataFrame(cheeses)
cheese_median(df_cheese)

                    Name  Price
0          Bohemian Goat   15.0
1     Central Coast Bleu   30.0
2     Cowgirl Mozzarella   30.0
3  Cypress Grove Cheddar   30.0
4          Oakdale Colby   45.0

## t value via pandas

You are given a dataframe with a single column, 'var'.

Calculated the t-value for the mean of ‘var’ against a null hypothesis that μ = μ_0μ=μ 
0
​
 .

Note: You do not have to calculate the p-value of the test or run the test.

In [5]:
import pandas as pd


def t_score(mu0, df: pd.DataFrame):
    
    mean = df['var'].mean()
    n = len(df)
    s = df['var'].var()
    
    t = (mean - mu0) / (s / n) ** (1 / 2)
    
    return t


mu0 = 1
df = pd.DataFrame({
    'var': [-34, 40, -89, 5, -26]
})
round(t_score(mu0, df), 6)

-1.015614