In [12]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.utils import shuffle

In [8]:
data_01 = '../data/iris.data'
COLUMNS = [
    'sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'
]
RANDOM_STATE = 0

In [4]:
df = pd.read_csv(data_01, names=COLUMNS)

In [5]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [10]:
le = LabelEncoder()
le.fit(df['class'])
classes = le.classes_
encoded = le.transform(classes)
label_encoding = {}
for c, e in zip(classes, encoded):
    label_encoding[c] = e
print(f'Label encoding: {label_encoding}')

Label encoding: {'Iris-setosa': 0, 'Iris-versicolor': 1, 'Iris-virginica': 2}

In [13]:
df_model = df.copy()
df_model['target'] = le.transform(df['class'])
df_model = df_model.drop(columns=['class'])
df_model = shuffle(df_model, random_state=RANDOM_STATE)

In [14]:
df_model.head()

     sepal_length  sepal_width  petal_length  petal_width  target
114           5.8          2.8           5.1          2.4       2
62            6.0          2.2           4.0          1.0       1
33            5.5          4.2           1.4          0.2       0
107           7.3          2.9           6.3          1.8       2
7             5.0          3.4           1.5          0.2       0